<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="82px" height="82px" viewBox="0 0 82 82" version="1.1">
    <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
    <title>Group 5</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Main-Orange-FUll" transform="translate(-904.000000, -2802.000000)">
            <g id="Group-5" transform="translate(904.000000, 2802.000000)">
                <circle id="Oval" fill="#FF923E" cx="41" cy="41" r="41"/>
                <polyline id="Path-2" stroke="#FFFFFF" stroke-width="4" transform="translate(41.500000, 41.000000) rotate(-270.000000) translate(-41.500000, -41.000000) " points="45.8997338 57 27 57 45.8997338 25 56 42.9769007"/>
            </g>
        </g>
    </g>
</svg>