$orange: #FF923E;
$purple: #692B8C;
$teal: #4CC0B1;
$red: #F6003D;
$black: #262626;

$first: #FF923E;
$second: #F6003D;
$third: #692B8C;
$fourth: #4CC0B1;

$heading-font: "Avenir";
$body-font: "Baskerville";