<div id="colorChanger" class="color-changer">
    <img id="prizmSymbol" class="prizm-symbol" src="/app/uploads/dev/prizm-symbol.svg" alt="prizm symbol">
    <div id="orbs" class="orbs">
        <div data-page-active-theme="first" class="orb"></div>
        <div data-page-active-theme="second" class="orb"></div>
        <div data-page-active-theme="third" class="orb"></div>
        <div data-page-active-theme="fourth" class="orb"></div>
    </div>
</div>
