{# Prizm Menu Icon #}
<div class="menu" id="navLines">
    <div id="topLine" class="top"></div>
    <div id="middleLine" class="middle"></div>
    <div id="bottomLine" class="bottom"></div>
</div>
<div class="nav" id="nav">
    <div class="nav-items">
        <h3 class="title">Menu</h3>
        <ul>
            <li><a class="navLink" href="#about">About</a></li>
            <li><a class="navLink" href="#media">Media</a></li>
            <li><a class="navLink" href="#contact">Contact</a></li>
        </ul>
    </div>
    <div class="social">
        <div class="social-icon instagram">
        </div>
        <div class="social-icon instagram">
        </div>
        <div class="social-icon instagram">
        </div>
    </div>
</div>

